<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
    
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb1412938789555142</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1412938789555142</string>
    <key>FacebookClientToken</key>
    <string>a942b7b4cb94a63fd71d1f701b7f9554</string>
    <key>FacebookDisplayName</key>
    <string>OUR</string>
</dict>
</plist>
